h1
{
    color: brown;
}
h2
{
    color: burlywood;
    font-family:"Tahoma";   
}
ul
{
    color: burlywood;
    font-family:"Monotype Corsiva";
}
li
{
    color: cornflowerblue;
    font-family: sans-serif;
}